.inner {
  display: flex;
  align-items: center;
  gap: 8px;
}
.link {
  padding: 4px 0;
  color: var(--color-primary);
}
.svg {
  fill: none;
  stroke: var(--color-text);
}

@media only screen and (min-width: 768px) {
  .link {
    font-size: 18px;
    line-height: 1.33;
  }
}
