.inner {
  display: flex;
  align-items: center;
  gap: 8px;
}
.link {
  padding: 4px 0;
  color: var(--color-primary);
}
.svg {
  fill: none;
  stroke: var(--color-text);
}

@media only screen and (min-width: 768px) {
  .link {
    font-size: 18px;
    line-height: 1.33;
  }
}

@media only screen and (min-width: 1440px) {
  .link {
    transition: color 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  }
  .link:hover,
  .link:focus-visible {
    color: var(--color-warning);
  }
}
